*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: cornflowerblue;
    color: black;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    max-width: 80%;
    background-color: #e2d8d8;
    border-radius: 5px;
    padding: 10px;
}

.btn {
    background-color: darkseagreen;
    border-radius: 5px;
    padding: 5px 10px;
    border-color: blanchedalmond;
}

.btn:hover, .start-btn:hover {
    border-color: darkslategrey;
}

.start-btn {
    font-weight: bold;
    font-size: 20px;
    background-color: darkseagreen;
    border-radius: 5px;
    padding: 15px 30px;
    border-color: blanchedalmond;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-grid {
    display: grid;
    margin: 5px;
    padding: 5px;
}


/* .hide {
    display: none;
} */